
@{
    ViewData["Title"] = "Solve";
}

<div class="row">
    <div class="col text-center">
        <h1>Sunset Hills</h1>
    </div>
</div>
<div class="row">
    <div class="col">
    </div>
</div>
<hr />
<br />

<div class="row">
    <div class="col">
        <form asp-action="Solve">
            <div class="row">
                <div class="col text-center">
                    <input type="text" name="input1" placeholder="Building #1">
                    <input type="text" name="input2" placeholder="Building #2">
                    <input type="text" name="input3" placeholder="Building #3">
                    <input type="text" name="input4" placeholder="Building #4">
                    <input type="text" name="input5" placeholder="Building #5">
                </div>
            </div><br />
            <div class="row">
                <div class="col text-center">
                    <button type="submit" class="btn-dark"> Sunset Hills </button>
                </div>
            </div>
        </form>
    </div>
</div>